<!DOCTYPE>
<html>
<head>
    <%- partial('_partial/head') %>
</head>
<body>
<%- partial('_partial/header') %>
<body>
    <%- body %>
</body>
<%- partial('_partial/footer') %>
<script>
    import * as hljs from "../../source/javascript/highlight.pack";
    // hljs.configure({
    //     classPrefix: 'hljs-'
    // });
    hljs.initHighlightingOnLoad();

</script>
</body>
</html>

