<%- partial('/_partial/navmenu') %>
<div class="wrapper">
        <div class="container mt15" style="position:relative">
            <div class="row">
                <%- partial('/_partial/singlepage_left') %>
                <%- partial('/_partial/singlepage_right') %>
            </div>
    </div>
</div>
<%- partial('/_partial/banner') %>

