<footer id="footer">
    <div class="container">
        <div class="row hidden-xs">
            <dl class="col-sm-2 site-link">
                <dt>产品</dt>

                <dd><a href="">热门问答</a></dd>
                <dd><a href="">热门专栏</a></dd>
                <dd><a href="">热门讲堂</a></dd>
                <dd><a href="">最新活动</a></dd>
                <dd><a href="">圈子</a></dd>
                <dd><a href="">找工作</a></dd>
                <dd><a href="">移动客户端</a></dd>

            </dl>

            <dl class="col-sm-2 site-link">
                <dt>资源</dt>
                <dd><a href="">每周精选</a></dd>
                <dd><a href="">用户排行榜</a></dd>
                <dd><a href="">徽章</a></dd>
                <dd><a href="">帮助中心</a></dd>
                <dd><a href="">声望与权限</a></dd>
                <dd><a href="">社区服务中心</a></dd>
                <dd><a href="">开发手册</a></dd>


            </dl>

            <dl class="col-sm-2 site-link">
                <dt>商务</dt>
                <dd><a href="" target="_blank">人才服务</a></dd>
                <dd><a href="" target="_blank">企业培训</a></dd>
                <dd><a href="" target="_blank">活动策划</a></dd>
                <dd><a href="" target="_blank">广告投放</a></dd>
                <dd><a href="" target="_blank">区块链解决方案</a></dd>
                <dd><a href="" target="_blank">合作联系</a></dd>
            </dl>

            <dl class="col-sm-2 site-link">
                <dt>关于</dt>
                <dd><a href="">关于我们</a></dd>
                <dd><a href="">加入我们</a></dd>
                <dd><a href="">联系我们</a></dd>
            </dl>

            <dl class="col-sm-2 site-link">
                <dt>关注</dt>
                <dd><a href="" target="_blank">产品技术日志</a></dd>
                <dd><a href="" target="_blank">社区运营日志</a></dd>
                <dd><a href="" target="_blank">市场运营日志</a></dd>
                <dd><a href="" target="_blank">团队日志</a></dd>
                <dd><a href="" target="_blank">社区访谈</a></dd>
                <dd>
                    <ul class="sn-inline">
                        <li>
                            <a class="entypo-wechart icon-sn-weixin weixin-popover-qrcode" data-toggle="popover"
                               data-placement="top" data-content="">微信</a>
                        </li>
                        <li>
                            <a href="" target="_blank" class="entypo-weibo icon-sn-weibo">新浪微博</a>
                        </li>
                        <li>
                            <a href="" target="_blank" class="entypo-facebook icon-sn-github">Github</a>
                        </li>
                        <li>
                            <a href="" target="_blank" class="entypo-twitter icon-sn-twitter">Twitter</a>
                        </li>
                    </ul>
                </dd>
            </dl>

            <dl class="col-sm-2 site-link" id="license">
                <dt>条款</dt>
                <dd><a href="">服务条款</a></dd>
                <dd><a href="" target="_blank">内容许可</a></dd>
                <dd>
                    <a href="" class="clearfix mt10 block"><img src="./htmlimg/appQrcode.png" class="app-qrcode"></a>
                    <div class="app-download-desc">
                        <p>扫一扫下载 App</p>
                    </div>

                </dd>
            </dl>
        </div>
        <div class="copyright">
            Copyright &copy; 2017-2019 <%= theme.copyright.author %> 当前呈现版本 17.06.16<br>
            <a href="http://www.miitbeian.gov.cn" rel="nofollow"><%= theme.copyright.icp %></a> &nbsp;
            <a target="_blank" href="http://www.beian.gov.cn" rel="nofollow"><%= theme.copyright.anbei %></a>
            <span class="ml5"><%= theme.copyright.anu %></span>

            <p class="mt-15">本博客由<a target="_blank" href="https://hexo.io/zh-cn/">Hexo</a> 驱动 主题采用<a target="_blank" href="https://github.com/huoher/hexo-theme-greenautumn.git">GreenAutumn</a></p>
            <!--<P class="mt30">本博客由<a target="_blank" href="">Hexo</a> 驱动 </p>-->
        </div>
        <p class="text-center">
            <a class="js__view--selector hidden-sm hidden-md hidden-lg" data-action="mobile" href="">移动版</a>
            <a class="js__view--selector hidden-sm hidden-md hidden-lg" data-action="desktop" href="">桌面版</a>
        </p>
    </div>
</footer>
