

        <div class="col-md-2 left">
            <div class="router-box">
                <a class="router-box-item active" href="">
                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                    <span class="name">为你推荐</span>
                </a>
                <a class="router-box-item " href="">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    <span class="name">近期热门</span>
                </a>
                <a class="router-box-item " href="">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <span class="name">最新内容</span>
                </a>
                <a class="router-box-item showChannels visible-xs-block" href="">
                    <i class="fa fa-server" aria-hidden="true"></i>
                    <span class="name">技术频道</span>
                </a>
            </div>
            <div class="tech-square hidden-xs">
                <h5 class="tech-square-title mt0 mb15">技术频道</h5>

                <a class="tech-square-item " href="/channel/frontend">
            <span class="tech-square-item-icon">
              <img src="https://avatar-static.segmentfault.com/399/739/3997397795-5a6edc1c3167f_small">
            </span>
                    <span>前端</span>
                </a>

                <a class="tech-square-item " href="/channel/backend">
            <span class="tech-square-item-icon">
              <img src="https://avatar-static.segmentfault.com/199/890/1998904068-5a6edc3e40de1_small">
            </span>
                    <span>后端</span>
                </a>

                <a class="tech-square-item " href="/channel/miniprogram">
            <span class="tech-square-item-icon">
              <img src="https://avatar-static.segmentfault.com/111/583/1115832955-5bea884928e54_small">
            </span>
                    <span>小程序</span>
                </a>

                <a class="tech-square-item " href="/channel/ai">
            <span class="tech-square-item-icon">
              <img src="https://avatar-static.segmentfault.com/194/030/1940304143-5a72802e507db_small">
            </span>
                    <span>人工智能</span>
                </a>

                <a class="tech-square-item " href="/channel/bc">
            <span class="tech-square-item-icon">
              <img src="https://avatar-static.segmentfault.com/950/262/950262627-5a7048175cdc9_small">
            </span>
                    <span>区块链</span>
                </a>

                <a class="tech-square-item " href="/channel/netsec">
            <span class="tech-square-item-icon">
              <img src="https://avatar-static.segmentfault.com/177/555/177555825-5a6edd409405a_small">
            </span>
                    <span>安全</span>
                </a>

                <a class="tech-square-item " href="/channel/android">
            <span class="tech-square-item-icon">
              <img src="https://avatar-static.segmentfault.com/346/697/3466976217-5a6edc9817073_small">
            </span>
                    <span>Android</span>
                </a>

                <a class="tech-square-item " href="/channel/ios">
            <span class="tech-square-item-icon">
              <img src="https://avatar-static.segmentfault.com/364/183/3641835720-5a6edcc072849_small">
            </span>
                    <span>iOS</span>
                </a>

                <a class="tech-square-item " href="/channel/toolkit">
            <span class="tech-square-item-icon">
              <img src="https://avatar-static.segmentfault.com/619/301/619301590-5a6ee7ff8fee2_small">
            </span>
                    <span>工具</span>
                </a>

                <a class="tech-square-item " href="/channel/programmer">
            <span class="tech-square-item-icon">
              <img src="https://avatar-static.segmentfault.com/463/156/46315654-5a6edd4a8f67e_small">
            </span>
                    <span>程序员</span>
                </a>

                <a class="tech-square-item " href="/channel/industry">
            <span class="tech-square-item-icon">
              <img src="https://avatar-static.segmentfault.com/350/953/3509536808-5a6edd577ced0_small">
            </span>
                    <span>行业</span>
                </a>

                <a class="tech-square-item " href="/channel/segmentfault">
            <span class="tech-square-item-icon">
              <img src="https://avatar-static.segmentfault.com/409/717/4097176351-5c4fc6084ff14_small">
            </span>
                    <span>SF官方</span>
                </a>

                <a class="tech-square-item " href="/tags">
            <span class="tech-square-item-icon">
              <i class="fa fa-tags" aria-hidden="true"></i>
            </span>
                    <span>更多标签</span>
                </a>
            </div>
        </div>


