<div class="col-md-3 side hidden-sm hidden-xs mt30" style="height: 416px;">

    <div class="mb25 hidden-md hidden-sm hidden-xs">
        <img src="https://static.segmentfault.com/sponsor/20190205.png" alt="Planets" usemap="#gridsMap" width="255"
             height="136">
        <map name="gridsMap" id="gridsMap">
            <area shape="rect" target="_blank" onmouseover="SFGridAd.d(this)" onmouseout="SFGridAd.e(this)"
                  onclick="SFGridAd.c(1750000017822729)" coords="221,0,255,34"
                  href="https://www.3tee.cn/index.html?source=segmentfault" stitle="快速实现视频通讯，兼容WebRTC，浙江大华股份等都在用">
            <area shape="rect" target="_blank" onmouseover="SFGridAd.d(this)" onmouseout="SFGridAd.e(this)"
                  onclick="SFGridAd.c(1750000017845377)" coords="68,34,170,51"
                  href="https://uniapp.dcloud.io/?hmsr=sf&amp;hmpl=&amp;hmcu=&amp;hmkw=&amp;hmci="
                  stitle="开发一次，同时生成 App、H5、微信、百度、支付宝等小程序">
            <area shape="rect" target="_blank" onmouseover="SFGridAd.d(this)" onmouseout="SFGridAd.e(this)"
                  onclick="SFGridAd.c(1750000018025967)" coords="102,68,153,85"
                  href="https://www.fundebug.com/?utm_source=sf_lattice_ad" stitle="Debug就用Fundebug！">
        </map>
        <div style="text-align: center;"><a style="text-align:center; color:#9E9E9E; font-size:12px" href="/sponsor">想在上方展示你的广告？</a>
        </div>
        <script async="" src="https://static.segmentfault.com/sponsor/20190205.js"></script>
    </div>

    <style>
        .job-recommend-area a:not(:last-of-type) {
            margin-bottom: 10px;
            display: block
        }

        .job-recommend-area a:hover {
            text-decoration: none;
        }
    </style>
    <div class="hidden-md">
        <div class="job-recommend">
            <h3 class="job-title">推广链接</h3>
            <div class="job-recommend-area">
                <script type="text/javascript">
                    OA_show(7);
                    OA_show(9);
                    OA_show(10);
                    OA_show(15);
                    OA_show(16);
                </script>
                <a href="https://sponsor.segmentfault.com/ck.php?oaparams=2__bannerid=57__zoneid=7__cb=47b5a2305a__oadest=https%3A%2F%2Fsegmentfault.com%2Fls%2F1650000011387052"
                   target="_blank"><strong> Java 微服务实践课</strong><br>
                    <small style="color: #999">上千人学习过的微服务实栈课</small>
                </a>
                <div id="beacon_47b5a2305a" style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img
                            src="https://sponsor.segmentfault.com/lg.php?bannerid=57&amp;campaignid=14&amp;zoneid=7&amp;loc=https%3A%2F%2Fsegmentfault.com%2Fa%2F1190000018091398&amp;referer=https%3A%2F%2Fsegmentfault.com%2F&amp;cb=47b5a2305a"
                            width="0" height="0" alt="" style="width: 0px; height: 0px;"></div>
                <a href="https://sponsor.segmentfault.com/ck.php?oaparams=2__bannerid=56__zoneid=9__cb=d24a7e032c__oadest=https%3A%2F%2Fsegmentfault.com%2Fls%2F1650000011318558"
                   target="_blank"><strong>大神的PHP 进阶之路</strong><br>
                    <small style="color: #999">亿级 PV 项目的架构梳理，性能提升实战</small>
                </a>

            </div>
        </div>
        <style>
            .job-recommend {
                margin-bottom: 30px;
            }

            .job-title {
                font-size: 14px;
                color: #017E66;
                font-weight: 500;
                background: #BFE6D7;
                margin: 0;
                padding-top: 6px;
                padding-bottom: 6px;
                text-align: center;
            }

            .job-recommend-area {
                padding: 13px;
                border: 3px solid #EBF7F3;
                border-top: none;
            }
        </style>

    </div>


</div>
